/* Styles pour la barre de navigation principale (main-nav) */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Remplissage avec marges supérieure et inférieure */
}

/* Styles pour le logo dans la barre de navigation principale */
.main-nav-logo {
  display: flex;
  align-items: center;
}

/* Styles pour l'image du logo dans la barre de navigation principale */
.main-nav-logo-image {
  max-width: 100%; /* Taille maximale de l'image pour s'adapter au conteneur */
  width: 200px;
}

/* Styles pour les liens dans la barre de navigation principale */
.main-nav a {
  font-weight: bold;
  color: #2c3e50; /* Couleur du texte */
}

/* Styles pour les éléments de navigation dans la barre de navigation principale */
.main-nav-item {
  text-decoration: none; /* Supprime la décoration par défaut des liens */
  margin-right: 0.5rem; /* Marge à droite entre les éléments de navigation */
}

/* Styles au survol des éléments de navigation dans la barre de navigation principale */
.main-nav-item:hover {
  text-decoration: underline; /* Souligne le texte au survol */
}
