/* Styles pour la section pied de page (footer) */
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc; /* Bordure supérieure avec couleur grise */
  padding: 2rem 0 1.5rem; /* Remplissage avec marges supérieure et inférieure */
}

/* Styles pour le texte dans la section pied de page */
.footer-text {
  margin: 0; /* Supprime la marge par défaut */
  padding: 0; /* Supprime le rembourrage par défaut */
}
