/* Styles pour la mise en page générale de l'application (layout) */
.layout {
  margin: 0; /* Supprime la marge par défaut pour éviter un débordement */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ajuste la hauteur minimale à 100% de la hauteur de la fenêtre */
}
