.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-name-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-name-button:hover {
  background-color: #fff;
  color: #00bc77;
}

.edit-input {
  margin: 0.5rem;
  height: 32px;
  border-radius: 4px;
  padding: 0 1rem;
}

.edit-buttons {
  margin: 0.5rem;
}

.edit-button-option {
  background-color: #fff;
  margin: 0 0.5rem;
  border: 2px solid #00bc77;
  padding: 10px;
  width: 80px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-button-option:hover {
  background-color: #00bc77;
  color: #fff;
}